# ignorar todos los archivos que empiezan por punto...
.*

# ...salvo estos
!.gitignore
!.eslintrc
!.env.example
!.vscode

# dependencias
node_modules/

# build del frontend (se genera en el despliegue)
dist/

# backend
.venv
__pycache__/
*.db
*.sqlite

# logs
*.log

# sistema operativo
Thumbs.db
ehthumbs.db
